<app-header></app-header>

<div *ngIf="loading" id="loadingContainer">
  <app-loading-animation></app-loading-animation>
</div>

<app-course-map
  [changeView]="changeView"
  [editedScorecard]="editedScorecard"
  [rBackNine]="rBackNine"
></app-course-map>

<div id="bodyContainer">
  <app-scorecard
    (editedScorecard)="editedScorecard.next('')"
    (rBackNine)="rBackNine.next('')"
  ></app-scorecard>
  <div id="scoreInput">
    <div *ngIf="!roundInProgress" class="dropdown">
      <button id="selectTeeBtn" class="dropbtn">Select Tee</button>
      <div id="selectTeeContent" class="dropdown-content">
        <a
          (click)="startRound(tee)"
          id="{{ tee.id }}"
          *ngFor="let tee of courseData?.scorecard"
          >{{ tee.ColorName }}</a
        >
      </div>
    </div>
    <div *ngIf="roundInProgress" class="dropdown">
      <button *ngIf="!show10Input" id="selectScoreBtn" class="dropbtn">
        {{ selectedScore }}
      </button>
      <div id="selectScoreContent" class="dropdown-content">
        <a (click)="selectedScore = num" *ngFor="let num of createRange(9)">{{
          num
        }}</a>
        <a (click)="show10Input = true">10+</a>
      </div>
    </div>
    <input
      *ngIf="show10Input"
      id="strokesInput"
      type="number"
      min="1"
      [(ngModel)]="strokesInputValue"
      max="20"
      oninput="validity.valid || (value='');"
      step="0.01"
      (keyup.enter)="selectedScore = strokesInputValue; show10Input = false"
    />
  </div>
  <button id="submitHole" (click)="submitHole()">Next Hole</button>
</div>
