<app-header></app-header>

<div *ngIf="loading" id="loadingContainer">
  <app-loading-animation></app-loading-animation>
</div>

<app-course-map
  [mapHeight]="'100vh'"
  [changeView]="changeView"
  (changedView)="setCurrentHole($event)"
></app-course-map>

<img
  src="../../../assets/scorecard.png"
  (click)="showScorecard = !showScorecard"
  alt=""
  id="openScorecard"
/>

<edit-score-card
  [ngStyle]="
    showScorecard && !roundInProgress ? { display: '' } : { display: 'none' }
  "
></edit-score-card>

<app-active-scorecard
  [ngStyle]="
    showScorecard && roundInProgress ? { display: '' } : { display: 'none' }
  "
  (refreshPage)="getScore()"
></app-active-scorecard>

<div id="scoreInput">
  <div *ngIf="!roundInProgress">
    <nav id="selectTeeBtn">
      <label for="touch"><span id="startRoundSpan">Start Round</span></label>
      <input type="checkbox" (click)="setDropdownHeightTee()" id="touch" />
      <div id="selectTeeBtnSlide" class="slide">
        <a
          *ngFor="let tee of completedTees?.scorecard"
          (click)="startRound(tee)"
          id="{{ tee.id }}"
          >{{ tee.ColorName }}</a
        >
      </div>
    </nav>
  </div>
  <div *ngIf="roundInProgress">
    <div *ngIf="!show10Input">
      <nav id="selectScoreBtn">
        <label for="touch"><span id="scoreSpan">{{ selectedScore }}</span></label>
        <input
          type="checkbox"
          (click)="setDropdownHeightScore()"
          id="touch"
        />
        <div id="selectScoreBtnSlide" class="slide">
          <a
            (click)="updateScore(num); setDropdownHeightScore()"
            *ngFor="let num of createRange(9)"
            >{{ num }}</a
          >
          <a (click)="show10Input = true">10+</a>
        </div>
      </nav>
    </div>
  </div>
  <input
    *ngIf="show10Input"
    id="strokesInput"
    type="number"
    min="1"
    [(ngModel)]="strokesInputValue"
    max="20"
    oninput="validity.valid || (value='');"
    step="0.01"
    (keyup.enter)="updateScore(strokesInputValue); show10Input = false"
  />
</div>
