<app-header></app-header>

<app-course-map
  [mapHeight]="'100vh'"
  (changedView)="setCurrentHole($event)"
></app-course-map>

<img
  src="../../../assets/scorecard.png"
  (click)="showScorecard = !showScorecard"
  alt=""
  id="openScorecard"
/>

<edit-score-card
  [ngStyle]="showScorecard ? { display: '' } : { display: 'none' }"
></edit-score-card>

<div *ngIf="popUp" id="startRoundPopUpContainer"></div>
<div *ngIf="popUp" id="startRoundPopUp">
  <div class="close" (click)="popUp = false"></div>
  <h1>Start Round</h1>
  <div id="formContainer">
    <label>Selected Course</label>
    <div id="course" class="displayInfo"><h6>{{ courseData.name }}</h6></div>
    <label>Handicap</label>
    <div id="hdcp" class="displayInfo"><h6>{{ 0 }}</h6></div>
    <label>Handicap Type</label>
    <select id="hdcpType" [(ngModel)]="hdcpType">
      <option value="none">None - No handicap will be used</option>
      <option value="basic">Basic - Standard handicap calculations</option>
    </select>
    <label>Tee Type</label>
    <select id="teeType" [(ngModel)]="selectedTee">
      <option *ngFor="let tee of completedTees" [ngValue]="tee">{{ tee.ColorName }}</option>
    </select>
    <button id="submitInfo" (click)="startRound()">Start Round</button>
  </div>
</div>

<nav id="selectTeeBtn" (clickOutside)="teeDropdown(false)">
  <label for="touch"><span id="startRoundSpan">Start Round</span></label>
  <input
    type="checkbox"
    (click)="teeDropdown(!this.openTeeDropdown); alertUserOfTees()"
    id="touch"
  />
  <div id="selectTeeBtnSlide" class="slide">
    <a
      *ngFor="let tee of completedTees"
      [ngStyle]="
        getColorWhite(getRGB(tee.Color))
          ? { 'background-color': tee.Color, color: '#252525' }
          : { 'background-color': tee.Color, color: 'White' }
      "
      (click)="selectTee(tee)"
      id="{{ tee.id }}"
      >{{ tee.ColorName }}</a
    >
  </div>
</nav>
