<app-header></app-header>

<app-course-map
  [mapHeight]="'100vh'"
  [changeView]="changeView"
  (changedView)="setCurrentHole($event)"
></app-course-map>

<img
  src="../../../assets/scorecard.png"
  (click)="showScorecard = !showScorecard"
  alt=""
  id="openScorecard"
/>

<app-active-scorecard
  [ngStyle]="showScorecard ? { display: '' } : { display: 'none' }"
></app-active-scorecard>

<div id="scoreInput" (clickOutside)="clickedOutside()">
  <div *ngIf="!show10Input && currentHole != 'course'">
    <nav id="selectScoreBtn">
      <label for="touch"
        ><span id="scoreSpan">{{ selectedScore }}</span></label
      >
      <input
        type="checkbox"
        (click)="scoreDropdown(!this.openScoreDropdown)"
        id="touch"
      />
      <div id="selectScoreBtnSlide" class="slide">
        <a
          (click)="updateScore(num); scoreDropdown(false)"
          *ngFor="let num of createRange(9)"
          >{{ num }}</a
        >
        <a (click)="show10Input = true">10+</a>
      </div>
    </nav>
  </div>
  <input
    *ngIf="show10Input"
    id="strokesInput"
    type="number"
    min="1"
    [(ngModel)]="strokesInputValue"
    max="20"
    oninput="validity.valid || (value='');"
    step="1"
    (keyup.enter)="updateScore(strokesInputValue); show10Input = false"
  />
</div>
