<div class="container">
  <img
    src="../../../assets/Golf-ball-isolated-on-transparent-background-PNG.png"
    alt=""
    class="logo"
  />

  <form class="login" (ngSubmit)="onSubmit()">
    <div class="input-contain">
      <input id="emailInput" name="email" [(ngModel)]="email" type="text" value="" />
      <label class="placeholder-text">
        <div class="text">Email</div>
      </label>
    </div>
  
    <div class="input-contain">
      <input id="passwordInput" name="password" [(ngModel)]="password" type="password" value="" />
      <label class="placeholder-text">
        <div class="text">Password</div>
      </label>
    </div>
    <button type="submit">Login</button>
  </form>
  <a>{{ error }}</a>
</div>
