@import "../../utilities/variables.scss";

* {
  user-select: none;
}

.grid-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 16.5% repeat(9, 6.2%) 8% 9.85% 9.85%;
  grid-auto-rows: 40px;
  border-bottom: 0px solid;
}

.parent {
  position: absolute;
  left: 530px;
  background-color: black;
  height: 40px;
  width: calc(100% - 535.5px);
  z-index: -1;
  border: none;
}

.close {
  background: lightgrey;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 18px;
  right: 10px;
  cursor: pointer;
  &::after {
    content: '';
    height: 25px;
    border-left: 2px solid black;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
  }
  &::before {
    content: '';
    height: 25px;
    border-left: 2px solid black;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
  }
}

.checkboxInputContainer {
  display: flex;
  width: 100%;
  height: 25px;
  h3 {
    margin-right: 20px;
  }
  input {
    margin-top: 5px;
  }
}

.PopUp {
  div {
    border-bottom: none;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  height: auto;
  max-width: 400px;
  width: 75%;
  background-color: lightgrey;
  border-radius: 16px;
  z-index: 10000001;
  opacity: 1;
  position: fixed;
  left: 50%;
  margin-top: 150px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  h1 {
    font-weight: bold;
  }
  #colorNameInput {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
  }
  .colorPicker {
    align-self: flex-start;
    border-radius: 5px;
    height: 30px;
    width: 155px;
  }
  .AggregateTeeSelectorContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .teeSelect{
    height: 30px;
    border-radius: 5px;
    width: 45%;

  }
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  label {
    position: relative;
    align-self: flex-start;
    font-size: normal;
  }
  button {
    margin-top: 10px;
    height: 40px;
    background-color: $green;
    border: none;
    border-radius: 5px;
    width: 100%;
    &:hover {
      background-color: rgb(0, 122, 0);
    }
  }
}

#deleteBtn {
  cursor: pointer;
  height: 30px;
  position: relative;
  top: -35px;
  left: 80px;
  transition: transform 150ms, box-shadow 150ms;
  &:hover {
    transform: scale(1.2) translateY(-3px);
  }
}

#selectPosition {
  width: 30px;
  height: 25px;
  border-radius: 5px;
  right: 695px;
  bottom: 83px;
  position: relative;
  cursor: pointer;
}

#inputSelector {
  position: relative;
  border-bottom: 0px solid;
}

#copyPar,
#copySI {
  top: -4px;
  height: 30px;
  width: auto;
  position: relative;
  background-color: $green;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
}

p {
  cursor: pointer;
}

.header {
  font-weight: bold;
}

.header,
.header-holes {
  background-color: rgb(48, 48, 48);
}

div {
  font-size: 1.2rem;
  line-height: 40px;
  border: none;
  border-bottom: 1px solid rgb(88, 88, 88);
}

@media (max-width: 830px) {
  #selectPosition {
    height: 18px;
    left: 0px;
    top: 0px;
    font-size: 0.6rem;
  }

  #deleteBtn {
    height: 18px;
    left: 15px;
    top: 0px;
    &:hover {
      transform: scale(1) translateY(0px);
    }
  }

  select::-ms-expand {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 10% repeat(9, 6.7%) 10% 10% 10%;
    grid-auto-rows: 20px;
    border: none;
  }

  div {
    font-size: 0.6rem;
    line-height: 20px;
    border: none;
    border-bottom: 1px solid rgb(88, 88, 88);
  }

  #copyPar,
  #copySI {
    margin-left: 2px;
    height: 17px;
    font-size: 75%;
    margin-top: 5px;
    &:hover {
      transform: translateY(0px);
    }
  }

  #inputSelector {
    position: relative;
    border-bottom: none;
  }

  #siHeader span {
    display: none;
  }

  #siHeader::after {
    content: "S.I.";
  }

  .parent {
    position: absolute;
    left: 70%;
    background-color: black;
    height: 20px;
    width: calc(100% - 70%);
    z-index: -1;
    border: none;
  }

  .PopUp {
    label {
      position: relative;
      align-self: flex-start;
      font-size: small;
    }
    h3 {
      font-size: small;
    }
  }
}
