<datalist id="presets">
  <option value="#0000FF">Blue</option>
  <option value="#FF0000">Red</option>
  <option value="#daa520">Gold</option>
  <option value="#ffffff">White</option>
  <option value="#FFFF00">Yellow</option>
  <option value="#000000">Black</option>
  <option value="#C0C0C0">Silver</option>
</datalist>

<div class="grid-container">
  <!-- row 2 -->
  <div
    id="colorInputsContainer"
    [ngStyle]="{ 'background-color': teeData.Color }"
  >
    <p
      [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }"
      *ngIf="displayColorName && !editing"
    >
      {{ teeData.ColorName }}
    </p>
    <p
      [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }"
      *ngIf="displayColorName && editing"
      (click)="displayColorName = false; displayInputSelector = true"
    >
      {{ teeData.ColorName }}
    </p>
    <div *ngIf="displayInputSelector && editing" id="inputSelector">
      <button
        id="openColorPicker"
        (click)="displayColorPicker = true; displayInputSelector = false"
      >
        Color
      </button>
      <button
        id="openColorNamer"
        (click)="displayColorNamer = true; displayInputSelector = false"
      >
        Name
      </button>
    </div>
    <div *ngIf="displayColorPicker && editing">
      <input type="color" id="colorPicker" [(ngModel)]="color" list="presets" />
      <button id="btnSetColor" (click)="setColor()">Set</button>
    </div>
    <div *ngIf="displayColorNamer && editing">
      <form action="">
        <input
          id="colorNamer"
          onkeydown="return /[a-z]/i.test(event.key)"
          (keypress)="submitColorName($event)"
          type="text"
          placeholder="Enter Tee Color"
          name="nameColor"
          [(ngModel)]="nameColor"
        />
      </form>
    </div>
  </div>
  <div
    [ngStyle]="{ 'background-color': teeData.Color }"
    class="holes"
    *ngFor="let a of createRange(9); let index = index"
  >
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="yrds"
      id="{{ teeData.id }},H{{ index + (isFrontNine ? 1 : 10) }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div
    [ngStyle]="
      isWhite
        ? { 'background-color': teeData.Color, color: '#252525' }
        : { 'background-color': teeData.Color, color: 'White' }
    "
  >
    {{ teeData[isFrontNine ? "SumOut" : "SumIn"] }}
  </div>
  <div [ngStyle]="{ 'background-color': teeData.Color }">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="Slope"
      id="{{ teeData.id }},Slope"
      [data]="teeData"
      [submitInput]="submitInput"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div [ngStyle]="{ 'background-color': teeData.Color }">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="Rating"
      id="{{ teeData.id }},Rating"
      [data]="teeData"
      [submitInput]="submitInput"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <!-- row 3 -->
  <div [ngStyle]="{ 'background-color': 'grey' }" id="parHeader" class="header">
    Par
  </div>
  <div class="holes" *ngFor="let a of createRange(9); let index = index">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="strks"
      id="{{ teeData.id }},P{{ index + (isFrontNine ? 1 : 10) }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }">
    {{ teeData[isFrontNine ? "SumOutPar" : "SumInPar"] }}
  </div>
  <div>
    <button *ngIf="showCopyPar && editing" (click)="copyParData()" id="copyPar">
      Copy
    </button>
  </div>
  <div>
    <img
      *ngIf="isFrontNine && editing"
      id="deleteBtn"
      (click)="deleteTee()"
      src="../../../assets/error.png"
      alt=""
    />
  </div>

  <!-- row 4 -->
  <div [ngStyle]="{ 'background-color': 'grey' }" id="siHeader" class="header">
    <span>Stroke Index</span>
  </div>
  <div class="holes" *ngFor="let a of createRange(9); let index = index">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="strks"
      id="{{ teeData.id }},SI{{ index + (isFrontNine ? 1 : 10) }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div>
    <button *ngIf="showCopySI && editing" (click)="copySIData()" id="copyPar">
      Copy
    </button>
  </div>
  <div></div>
  <div>
    <select
      *ngIf="isFrontNine && editing"
      id="selectPosition"
      (change)="changePosition($event)"
    >
      <option
        id="posOptions"
        [selected]="teeData.Position == pos && 'selected'"
        *ngFor="let pos of createRange(scorecard.length)"
        [value]="pos"
      >
        {{ pos }}
      </option>
    </select>
  </div>
</div>
