<div class="grid-container">
  <!-- row 2 -->
  <div class="header" [ngStyle]="{ 'background-color': teeColor }">
    <!-- <app-scorecard-input
      placeholder="Tee Color"
    ></app-scorecard-input> -->
    {{ teeColor }}
  </div>
  <div
    [ngStyle]="{ 'background-color': teeColor }"
    class="holes"
    *ngFor="let a of createRange(9); let index = index"
  >
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="yrds"
      id="{{ teeColor }},H{{ index + (isFrontNine ? 1 : 10) }}"
    ></app-scorecard-input>
  </div>
  <div [ngStyle]="{ 'background-color': teeColor }">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="sum"
      id="{{ teeColor }},{{isFrontNine? 'SumOut': 'SumIn'}}"
    ></app-scorecard-input>
  </div>
  <div [ngStyle]="{ 'background-color': teeColor }">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="Slope"
      id="{{ teeColor }},Slope"
    ></app-scorecard-input>
  </div>
  <div [ngStyle]="{ 'background-color': teeColor }">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="Rating"
      id="{{ teeColor }},Rating"
    ></app-scorecard-input>
  </div>
  <!-- row 3 -->
  <div [ngStyle]="{ 'background-color': 'grey' }" class="header">Par</div>
  <div class="holes" *ngFor="let a of createRange(9); let index = index">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="strks"
      id="{{ teeColor }},P{{ index + (isFrontNine ? 1 : 10) }}"
    ></app-scorecard-input>
  </div>
  <div>
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="sum"
      class="colorInput"
      id="{{ teeColor }},{{isFrontNine? 'SumOutPar': 'SumInPar'}}"
    ></app-scorecard-input>
  </div>
  <div></div>
  <div></div>

  <!-- row 4 -->
  <div [ngStyle]="{ 'background-color': 'grey' }" class="header">
    Stroke Index
  </div>
  <div class="holes" *ngFor="let a of createRange(9); let index = index">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="strks"
      id="{{ teeColor }},SI{{ index + (isFrontNine ? 1 : 10) }}"
    ></app-scorecard-input>
  </div>
  <div></div>
  <div></div>
  <div></div>
</div>
