@import "../../utilities/variables.scss";

.grid-container {
  display: grid;
  grid-template-columns: 120px repeat(9, 45px) 60px 70px 70px;
  grid-auto-rows: 40px;
  border-bottom: 0px solid;
}

#colorPicker {
  border-radius: 5px;
  height: 25px;
  width: 60px;
  position: relative;
  margin-left: 5px;
}

#colorNamer {
  position: relative;
  width: 80%;
  border-radius: 3px;
  margin-left: 5px;
}

#inputSelector {
  position: relative;
  border-bottom: 0px solid;
}

#btnSetColor {
  position: relative;
  height: 25px;
  bottom: 3px;
  border-radius: 5px;
  border: 0px solid;
}

#openColorNamer, #openColorPicker {
  margin-left: 5px;
  border-radius: 5px;
  border: 0px solid;
  &:hover {
    background-color: rgb(202, 202, 202);
  }
}

.header {
  font-weight: bold;
}

.header, .header-holes {
  background-color: rgb(48, 48, 48);
}

div {
  font-size: 1.2rem;
  line-height: 40px;
  border-bottom: 1px solid rgb(88, 88, 88);
}