<div class="container">
  <img
    src="../../../assets/Golf-ball-isolated-on-transparent-background-PNG.png"
    alt=""
    class="logo"
    routerLink="/"
  />

  <form class="login" (ngSubmit)="onSubmit()">
    <div class="input-contain">
      <input
        id="emailInputForgotPassword"
        name="email"
        [(ngModel)]="email"
        type="text"
        value=""
      />
      <label class="placeholder-text">
        <div class="text">Email</div>
      </label>
      <div class="errorContainer">
        <img
          *ngIf="error"
          class="errorImg"
          src="../../../assets/error.png"
          alt=""
        />
        <label id="emailErrorForgotPassword" class="error"></label>
      </div>
    </div>

    <div class="btn-contain">
      <button id="buttonForgotPassword" type="submit" (click)="onClick()"></button>
    </div>
  </form>
</div>
