@import "../../utilities/variables.scss";

$containerColor: rgb(102, 102, 102);

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 9%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 320px;
  max-width: 800px;
  background-color: $containerColor;
  border-radius: 10px;
}

.input-contain {
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
}

input {
  height: 4.5rem;
  border: 3px solid $theme;
  border-radius: 15px;
  background-color: $theme;
  color: white;
  width: calc(100% - 2.5rem);
}

.error {
  position: absolute;
  left: 35px;
  color: $error;
}

.errorImg {
  left: 10px;
  position: absolute;
  height: 18px;
  width: 18px;
}

.inputError {
  border-color: $error !important;
}

.placeholder-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.text {
  font-size: 1.4rem;
  padding: 0 0.5rem;
  background-color: transparent;
  color: black;
}

input,
.placeholder-text {
  font-size: 1.4rem;
  padding: 0 1.2rem;
}

input:focus {
  outline: none;
  border-color: black;
}

.text {
  transform: translate(0);
  transition: transform 0.15s ease-out, font-size 0.15s ease-out;
}

input:focus + .placeholder-text .text,
:not(input[value=""]) + .placeholder-text .text {
  font-size: 1.1rem;
  color: black;
  transform: translate(0, -120%);
}

.logo {
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  width: 150px;
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}

.btn-contain {
  position: absolute;
  top: 255px;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 40px;
  text-align: center;
}

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 100%;
  border-radius: 40px;
  background: $green;
  border: 2px solid $containerColor;
  color: black;
  letter-spacing: 1px;
  text-shadow: 0;
  font: {
    size: 12px;
    weight: bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    background: #366d00;
  }
  &:active {
    letter-spacing: 2px;
  }
  &:after {
    content: "Send Email";
  }
}
.onclic {
  width: 40px;
  border-color: $green;
  border-width: 5px;
  font-size: 0;
  border-left-color: $theme;
  animation: rotating 2s 0.25s linear infinite;
  cursor: default;

  &:after {
    content: "";
  }
  &:hover {
    color: $green;
    background: $green;
  }
}

.validate {
  width: 80px;
  font-size: 13px;
  color: white;
  background: $green;
  &:after {
    content: url("../../../assets/check.png");
  }
  &:hover {
    color: $green;
    background: $green;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#linkContainer {
  display: flex;
  justify-content: space-between;
  width: 230px;
  position: relative;
  margin: auto;
  top: 15px;
  a {
    text-decoration: underline;
    color: rgb(94, 13, 94);
    cursor: pointer;
  }
}
