<app-header></app-header>

<app-course-map></app-course-map>

<div id="coursePageContainer">
  <edit-score-card [fullSize]="true"></edit-score-card>
  <div id="recent" class="roundsContainer">
    <div id="roundsHeader">
      <h1>{{scores?.length <= 0 ? 'No Rounds Posted Recently':'Recent Rounds'}}</h1>
      <button *ngIf="!roundInProgress" id="startRoundBtn" (click)="startRound()">Start New Round</button>
    </div>
    <div class="round" *ngFor="let score of scores">
      <a (click)="navigateToProfile(score)">{{ score.username }}</a> played a
      <a (click)="navigateToRound(score)">{{ numberOfHolesPlayed(score) }} hole,
        {{ score.score.In + score.score.Out }} stroke round</a
      >
      here {{ convertDateTime(score) }} ago
    </div>
  </div>
</div>
