edit-score-card {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 10vh;
}

app-loading-animation {
  position: absolute;
  z-index: 10;
  transform: scale(3);
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 400px;
}

#loadingContainer {
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: black;
  opacity: 0.9;
  position: absolute;
}

@media (max-width: 830px) {
  app-loading-animation {
    transform: scale(2);
    margin-top: 300px;
  }
}
