<app-header></app-header>

<app-course-map></app-course-map>

<div id="coursePageContainer">
  <edit-score-card [fullSize]="true"></edit-score-card>
  <div id="recent" class="roundsContainer">
    <h1>{{scores?.length <= 0 ? 'No Rounds Posted Recently':'Recent Rounds'}}</h1>
    <div class="round" *ngFor="let score of scores">
      <a (click)="navigateToRounds(score)">{{ score.username }}</a> played a
      <a (click)="navigateToRound(score)">{{ numberOfHolesPlayed(score) }} holes,
        {{ score.score.In + score.score.Out }} stroke round</a
      >
      here {{ convertDateTime(score) }} ago
    </div>
  </div>
  <!-- <div id="best" class="roundsContainer">
    <h1>{{scores?.length <= 0 ? 'No Rounds Posted Recently':'Recent Rounds'}}</h1>
    <div class="round" *ngFor="let score of scores">
      <a (click)="navigateToRounds(score)">{{ score.username }}</a> played a
      <a (click)="navigateToRound(score)">{{ numberOfHolesPlayed(score) }} holes,
        {{ score.score.In + score.score.Out }} stroke round</a
      >
      here {{ convertDateTime(score) }} ago
    </div>
  </div> -->
</div>
