@import "../../utilities/variables.scss";

edit-score-card {
  position: relative;
}

#coursePageContainer {
  position: relative;
  margin-top: 40px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  height: auto;
  width: 90%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 840px auto;
  .roundsContainer {
    color: white;
    margin-top: 40px;
    h1 {
      font-weight: bold;
    }
    a {
      color: $green;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .round {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

@media (max-width: 1370px) {
  h1 {
    display: none;
  }
  #coursePageContainer {
    display: block;
  }
}

@media (max-width: 830px) {
  #coursePageContainer {
    margin-top: 0px;
    width: 98%;
    display: block;
    .round {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
}

