@import "../../utilities/variables.scss";

edit-score-card {
  position: relative;
}

#coursePageContainer {
  position: relative;
  margin-top: 40px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  height: auto;
  width: 90%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 840px auto;
  .roundsContainer {
    color: white;
    margin-top: 40px;
    h1 {
      font-weight: bold;
    }
    a {
      color: $green;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .round {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

#roundsHeader {
  display: flex;
}

#startRoundBtn {
  // top: 450px;
  // height: 30px;
  // width: 100px;
  height: 32px;
  margin-left: 40px;
  position: relative;
  background-color: $green;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 1370px) {
  h1 {
    display: none;
  }
  #coursePageContainer {
    display: block;
  }
  #startRoundBtn {
    margin-left: 45px;
    top: -10px;
  }
  #coursePageContainer {
    .round {
      margin-left: 45px;
    }
  }
}

@media (max-width: 830px) {
  #coursePageContainer {
    margin-top: 0px;
    width: 98%;
    display: block;
    .round {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
  #startRoundBtn {
    margin-left: auto;
    margin-right: auto;
    top: -20px;
  }
  #coursePageContainer {
    .round {
      margin-left: 0px;
    }
  }
}

