<datalist id="presets">
  <option value="#0000FF">Blue</option>
  <option value="#FF0000">Red</option>
  <option value="#daa520">Gold</option>
  <option value="#ffffff">White</option>
  <option value="#FFFF00">Yellow</option>
  <option value="#000000">Black</option>
  <option value="#C0C0C0">Silver</option>
</datalist>

<div class="grid-container">
  <!-- row 1 -->
  <div
    id="colorInputsContainer"
    [ngStyle]="{ 'background-color': teeData.Color }"
  >
    <p
      [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }"
      *ngIf="displayColorName && !editing"
    >
      {{ teeData.ColorName }}
    </p>
    <p
      [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }"
      *ngIf="displayColorName && editing"
      (click)="displayColorName = false; displayInputSelector = true"
    >
      {{ teeData.ColorName }}
    </p>
    <div *ngIf="displayInputSelector && editing" id="inputSelector">
      <button
        id="openColorPicker"
        (click)="displayColorPicker = true; displayInputSelector = false"
      >
        Color
      </button>
      <button
        id="openColorNamer"
        (click)="displayColorNamer = true; displayInputSelector = false"
      >
        Name
      </button>
    </div>
    <div *ngIf="displayColorPicker && editing">
      <input type="color" id="colorPicker" [(ngModel)]="color" list="presets" />
      <button id="btnSetColor" (click)="setColor()">Set</button>
    </div>
    <div *ngIf="displayColorNamer && editing">
      <input
        id="colorNamer"
        onkeydown="return /[a-z]/i.test(event.key)"
        type="text"
        placeholder="Enter Tee Color"
        [(ngModel)]="nameColor"
        (keyup.enter)="submitColorName()"
      />
    </div>
  </div>
  <div
    [ngStyle]="{ 'background-color': teeData.Color }"
    class="holes"
    *ngFor="let a of createRange(9); let index = index"
  >
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="yrds"
      id="{{ teeData.id }},H{{ index + (isFrontNine ? 1 : 10) }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div [ngStyle]="{ 'background-color': teeData.Color }">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="sum"
      id="{{ teeData.id }},{{ isFrontNine ? 'SumOut' : 'SumIn' }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div [ngStyle]="{ 'background-color': teeData.Color }">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="Slope"
      id="{{ teeData.id }},Slope"
      [data]="teeData"
      [submitInput]="submitInput"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div [ngStyle]="{ 'background-color': teeData.Color }">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="Rating"
      id="{{ teeData.id }},Rating"
      [data]="teeData"
      [submitInput]="submitInput"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <!-- row 2 -->
  <div [ngStyle]="{ 'background-color': 'grey' }" id="parHeader" class="header">
    Par
  </div>
  <div class="holes" *ngFor="let a of createRange(9); let index = index">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="strks"
      id="{{ teeData.id }},P{{ index + (isFrontNine ? 1 : 10) }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div>
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="sum"
      class="colorInput"
      id="{{ teeData.id }},{{ isFrontNine ? 'SumOutPar' : 'SumInPar' }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div></div>
  <div></div>

  <!-- row 3 -->
  <div [ngStyle]="{ 'background-color': 'grey' }" id="siHeader" class="header">
    <span>Stroke Index</span>
  </div>
  <div class="holes" *ngFor="let a of createRange(9); let index = index">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="strks"
      id="{{ teeData.id }},SI{{ index + (isFrontNine ? 1 : 10) }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div></div>
  <div></div>
  <div></div>

  <!-- row 4 -->
  <div [ngStyle]="{ 'background-color': 'grey' }" id="scoreHeader" class="header">
    <span>Score</span>
  </div>
  <div class="holes" *ngFor="let a of createRange(9)">
    <app-score-input
      placeholder="strks"
      id="{{ isFrontNine ? a : a + 9 }}"
      [data]="scoreData"
      [selectedScore]="true"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-score-input>
  </div>
  <div [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }">
    {{ isFrontNine ? scoreData.score.Out : scoreData.score.In }}
  </div>
  <div></div>
  <div></div>
</div>
