<datalist id="presets">
  <option value="#0000FF">Blue</option>
  <option value="#FF0000">Red</option>
  <option value="#daa520">Gold</option>
  <option value="#ffffff">White</option>
  <option value="#FFFF00">Yellow</option>
  <option value="#000000">Black</option>
  <option value="#C0C0C0">Silver</option>
</datalist>

<div *ngIf="popUp" class="PopUp">
  <div class="close" (click)="popUp = false; resetPopup()"></div>
  <h1>Edit Tee</h1>
  <div class="formContainer">
    <label>Aggregate Tee</label>
    <div class="checkboxInputContainer">
      <h3>Is this tee aggregated?</h3>
      <input
        id="checkbox{{ teeData.id }}"
        type="checkbox"
        [(ngModel)]="aggregated"
        (ngModelChange)="checkForAggregation()"
      />
    </div>
    <label *ngIf="!aggregated">Select Name</label>
    <input
      *ngIf="!aggregated"
      id="colorNameInput"
      onkeydown="return /[a-z]/i.test(event.key)"
      type="text"
      placeholder="Enter Tee Color"
      name="nameColor"
      [(ngModel)]="nameColor"
    />
    <label *ngIf="!aggregated">Color Picker</label>
    <input
      *ngIf="!aggregated"
      type="color"
      class="colorPicker"
      [(ngModel)]="color"
      list="presets"
    />
    <label *ngIf="aggregated">Aggregation Tees</label>
    <div *ngIf="aggregated" class="AggregateTeeSelectorContainer">
      <select class="teeSelect" [(ngModel)]="selectedTee1">
        <option *ngFor="let tee of completedTees" [ngValue]="tee.id">
          {{ tee.ColorName }}
        </option>
      </select>
      <select class="teeSelect" [(ngModel)]="selectedTee2">
        <option *ngFor="let tee of completedTees" [ngValue]="tee.id">
          {{ tee.ColorName }}
        </option>
      </select>
    </div>
    <button id="submitInfo" (click)="submitEdit()">Submit Edit</button>
  </div>
</div>

<div class="grid-container">
  <!-- row 2 -->
  <div
    id="colorInputsContainer"
    [ngStyle]="
      aggregated
        ? {
            'background-image':
              'linear-gradient(to right,' +
              (teeData[isFrontNine ? 'A1' : 'A10'] == tee1.id
                ? tee2.Color
                : tee1.Color) +
              ',' +
              (teeData[isFrontNine ? 'A1' : 'A10'] == tee1.id
                ? tee1.Color
                : tee2.Color) +
              ')'
          }
        : { 'background-color': teeData.Color }
    "
  >
    <p
      [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }"
      *ngIf="!editing"
    >
      {{
        aggregated
          ? isPhone
            ? tee1.ColorName.charAt(0) + "/" + tee2.ColorName.charAt(0)
            : tee1.ColorName + "/" + tee2.ColorName
          : teeData.ColorName
      }}
    </p>
    <p
      [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }"
      *ngIf="editing"
      (click)="popUp = true"
    >
      {{
        aggregated
          ? isPhone
            ? tee1.ColorName.charAt(0) + "/" + tee2.ColorName.charAt(0)
            : tee1.ColorName + "/" + tee2.ColorName
          : teeData.ColorName
      }}
    </p>
  </div>
  <div
    [ngStyle]="{ 'background-color': teeData.Color }"
    class="holes"
    *ngFor="let a of createRange(teeData.Aggregated ? 0 : 9); let index = index"
  >
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="yrds"
      id="{{ teeData.id }},H{{ index + (isFrontNine ? 1 : 10) }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div
    [ngStyle]="{
      'background-color': getHoleColor(index + (isFrontNine ? 1 : 10))
    }"
    class="holes"
    *ngFor="let a of createRange(teeData.Aggregated ? 9 : 0); let index = index"
  >
    <app-aggregate-select
      (onSubmitInput)="onSubmit($event)"
      id="{{ index + (isFrontNine ? 1 : 10) }}"
      [data]="{ teeData: teeData, courseData: scoreData }"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-aggregate-select>
  </div>
  <div
    *ngIf="aggregated"
    [ngStyle]="
      aggregated
        ? {
            'background-image':
              'linear-gradient(to right,' +
              (teeData[isFrontNine ? 'A9' : 'A18'] == tee1?.id
                ? tee1.Color
                : tee2.Color) +
              ',' +
              (teeData[isFrontNine ? 'A9' : 'A18'] == tee1?.id
                ? tee2.Color
                : tee1.Color) +
              ')'
          }
        : { 'background-color': teeData.Color }
    "
    class="parent"
  ></div>
  <div
    [ngStyle]="
      isWhite
        ? { 'background-color': teeData.Color, color: '#252525' }
        : { 'background-color': teeData.Color, color: 'White' }
    "
  >
    {{ teeData[isFrontNine ? "SumOut" : "SumIn"] }}
  </div>
  <div
    [ngStyle]="
      aggregated
        ? {
            'background-color': 'transparent'
          }
        : { 'background-color': teeData.Color }
    "
  >
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="Slope"
      id="{{ teeData.id }},Slope"
      [data]="teeData"
      [submitInput]="submitInput"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div
    [ngStyle]="
      aggregated
        ? {
            'background-color': 'transparent'
          }
        : { 'background-color': teeData.Color }
    "
  >
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="Rating"
      id="{{ teeData.id }},Rating"
      [data]="teeData"
      [submitInput]="submitInput"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <!-- row 2 -->
  <div [ngStyle]="{ 'background-color': 'grey' }" id="parHeader" class="header">
    Par
  </div>
  <div class="holes" *ngFor="let a of createRange(9); let index = index">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="strks"
      id="{{ teeData.id }},P{{ index + (isFrontNine ? 1 : 10) }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }">
    {{ teeData[isFrontNine ? "SumOutPar" : "SumInPar"] }}
  </div>
  <div></div>
  <div></div>

  <!-- row 3 -->
  <div [ngStyle]="{ 'background-color': 'grey' }" id="siHeader" class="header">
    <span>Stroke Index</span>
  </div>
  <div class="holes" *ngFor="let a of createRange(9); let index = index">
    <app-scorecard-input
      (onSubmitInput)="onSubmit($event)"
      placeholder="strks"
      id="{{ teeData.id }},SI{{ index + (isFrontNine ? 1 : 10) }}"
      [data]="teeData"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-scorecard-input>
  </div>
  <div></div>
  <div></div>
  <div></div>

  <!-- row 4 -->
  <div
    [ngStyle]="{ 'background-color': 'grey' }"
    id="scoreHeader"
    class="header"
  >
    <span>Score</span>
  </div>
  <div class="holes" *ngFor="let a of createRange(9)">
    <app-score-input
      placeholder="strks"
      id="{{ isFrontNine ? a : a + 9 }}"
      [data]="scoreData"
      [selectedScore]="selectedScore"
      [whiteEvent]="colorEventsSubject.asObservable()"
    ></app-score-input>
  </div>
  <div [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }">
    {{ isFrontNine ? scoreData.score.Out : scoreData.score.In }}
  </div>
  <div></div>
  <div></div>
</div>
