$color1: #2caf04;
$color2: #1d7702;
$color3: #0f3f00;

.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #252525;
    position: sticky;
    z-index: 2;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
}

.login, .signUp {
    font-family: 'Courier Prime';
    padding: 8px 12px;
    background: $color1;
    border: 0;
    border-bottom: 5px solid $color2;
    border-left: 1px solid $color2;
    border-radius: 2px;
    color: $color3;
    cursor: pointer;
    position: absolute;
    margin-right: 10px;
}

.login {
    right: 2vh;
}

.signUp {
    right: 9vh;
}

.login:active, .signUp:active {
    border-bottom-width: 2px;
}