<div class="headerBackground" [ngStyle]="{ height: height }"></div>
<div class="header">
  <img
    routerLink="/"
    src="../../../assets/Golf-ball-isolated-on-transparent-background-PNG.png"
    alt=""
    class="logo"
  />
  <div
    *ngIf="!isPhone"
    id="linkContainer"
    (clickOutside)="setDropdownUser(false)"
  >
    <div>
      <div *ngIf="signedIn" id="userLinkContainer" class="underline">
        <a
          (click)="setDropdownUser(!userDropdown)"
          id="userLink"
          class="headerLink header-right"
          >{{ userData.name }} <i id="userArrow" class="arrow down"></i
        ></a>
      </div>
      <div
        (clickOutside)="showAccount = false; showAccountSub.next(false)"
        id="selectUserDropdown"
        class="slide"
      >
        <app-account [showAccountObs]="showAccountSub"></app-account>
        <p
          (click)="showAccount = !showAccount; showAccountSub.next(showAccount)"
        >
          Account
        </p>
        <p (click)="signOut()">Logout</p>
      </div>
    </div>
    <a *ngIf="!signedIn" routerLink="/login" id="loginLink" class="headerLink"
      >Login</a
    >
    <a
      *ngIf="signedIn"
      (click)="navigateToProfile()"
      id="profileLink"
      class="headerLink"
      >Profile</a
    >
    <div
      *ngIf="signedIn"
      (clickOutside)="showSocial = false; showSocialSub.next(false)"
      class="flexColumn"
    >
      <a
        (click)="showSocial = !showSocial; showSocialSub.next(showSocial)"
        id="socialLink"
        class="headerLink"
        >Social</a
      >
      <app-social-tab [showSocialObs]="showSocialSub"></app-social-tab>
    </div>
    <div id="roundContainer" class="underline">
      <a
        *ngIf="signedIn && scoreData"
        (click)="navigateToInProgressRound()"
        id="roundLink"
        class="headerLink"
        >Continue Round</a
      >
    </div>
  </div>
</div>

<div *ngIf="isPhone" class="hamburger-menu" (clickOutside)="closeBox()">
  <input id="menu__toggle" type="checkbox" [(ngModel)]="isChecked" />
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>

  <ul class="menu__box">
    <li>
      <a
        *ngIf="!signedIn"
        routerLink="/login"
        class="menu__item"
        (click)="closeBox()"
        >Login</a
      >
    </li>
    <li>
      <a
        *ngIf="signedIn"
        (click)="setDropdownUser(!userDropdown)"
        class="menu__item"
        >{{ userData.name }} <i id="userArrow" class="arrow down"></i
      ></a>
      <div
        (clickOutside)="showAccount = false; showAccountSub.next(false)"
        id="selectUserDropdown"
        class="slide"
      >
        <app-account [showAccountObs]="showAccountSub"></app-account>
        <p (click)="showAccountSub.next(true)">Account</p>
        <p (click)="signOut()">Logout</p>
      </div>
    </li>
    <li (clickOutside)="showSocial = false; showSocialSub.next(false)">
      <a
        *ngIf="signedIn"
        class="menu__item"
        (click)="showSocial = !showSocial; showSocialSub.next(showSocial); setDropdownUser(false)"
        >Social</a
      >
      <app-social-tab
        (closeSocialTab)="
          showSocial = false; showSocialSub.next(false); isChecked = false
        "
        [showSocialObs]="showSocialSub"
      ></app-social-tab>
    </li>
    <li>
      <a
        *ngIf="signedIn"
        (click)="navigateToProfile()"
        class="menu__item"
        (click)="closeBox()"
        >Profile</a
      >
    </li>
    <li>
      <a
        *ngIf="signedIn && scoreData"
        class="menu__item"
        (click)="closeBox(); navigateToInProgressRound()"
        >Continue Round</a
      >
    </li>
  </ul>
</div>
