<div class="headerBackground" [ngStyle]="{ height: height }"></div>
<div class="header">
  <img
    routerLink="/"
    src="../../../assets/Golf-ball-isolated-on-transparent-background-PNG.png"
    alt=""
    class="logo"
  />
  <div
    *ngIf="!isPhone"
    id="linkContainer"
    (clickOutside)="setDropdownUser(false)"
  >
    <div>
      <div *ngIf="signedIn" id="userLinkContainer" class="underline">
        <a
          (click)="setDropdownUser(!userDropdown)"
          id="userLink"
          class="headerLink header-right"
          >{{ userData.name }} <i id="userArrow" class="arrow down"></i
        ></a>
      </div>
      <div id="selectUserDropdown" class="slide">
        <p (click)="editAccount()">Account</p>
        <p (click)="signOut()">Logout</p>
      </div>
    </div>
    <a *ngIf="!signedIn" routerLink="/login" id="loginLink" class="headerLink"
      >Login</a
    >
    <a
      *ngIf="signedIn"
      (click)="navigateToRounds()"
      id="roundsLink"
      class="headerLink"
      >Rounds</a
    >
    <a
      *ngIf="signedIn"
      (click)="navigateToStats()"
      id="statsLink"
      class="headerLink"
      >Stats</a
    >
    <div id="roundContainer" class="underline">
      <a
        *ngIf="signedIn && scoreData"
        (click)="navigateToStartRound()"
        id="roundLink"
        class="headerLink"
        >Continue Round</a
      >
    </div>
  </div>
</div>

<div *ngIf="isPhone" class="hamburger-menu" (clickOutside)="closeBox()">
  <input id="menu__toggle" type="checkbox" [(ngModel)]="isChecked" />
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>

  <ul class="menu__box">
    <li>
      <a
        *ngIf="!signedIn"
        routerLink="/login"
        class="menu__item"
        (click)="closeBox()"
        >Login</a
      >
    </li>
    <li>
      <a
        *ngIf="signedIn"
        (click)="setDropdownUser(!userDropdown)"
        class="menu__item"
        >{{ userData.name }} <i id="userArrow" class="arrow down"></i
      ></a>
      <div id="selectUserDropdown" class="slide">
        <p (click)="signOut()">Logout</p>
      </div>
    </li>
    <li>
      <a
        *ngIf="signedIn && scoreData"
        class="menu__item"
        (click)="closeBox(); navigateToStartRound()"
        >Continue Round</a
      >
    </li>
    <li>
      <a
        *ngIf="signedIn"
        (click)="navigateToRounds()"
        class="menu__item"
        (click)="closeBox()"
        >Rounds</a
      >
    </li>
    <li>
      <a
        *ngIf="signedIn"
        (click)="navigateToStats()"
        class="menu__item"
        (click)="closeBox()"
        >Stats</a
      >
    </li>
  </ul>
</div>
