@import "../../utilities/variables.scss";

$width: 738px;

app-new-scorecard-tee {
  z-index: 1000000000000000000000000;
}

#container {
  position: relative;
  width: $width;
  margin-bottom: 80px;
}

#loadingContainer {
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

app-loading-animation {
  position: absolute;
  left: 42%;
  transform: translate(-50%, 0);
  top: 40%;
  transform: scale(2);
}

#editBtn {
  left: 790px;
  top: 35px;
  height: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: transform 150ms;
  &:hover {
    transform: scale(1.2) translateY(-3px);
  }
}

#scrollContainer {
  width: 830px;
  height: auto;
  max-height: 80vh;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#fullSizeContainer {
  width: 830px;
}

#scrollContainer::-webkit-scrollbar {
  display: none;
}

#scorecardContainer {
  width: $width;
  border: 1px solid;
  border-radius: 2px;
  background-color: grey;
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.gridContainer {
  margin: 5px 6px;
}

h1 {
  margin: 5px 6px;
  text-align: center;
  border: 1px solid;
  border-radius: 2px 2px 0px 0px;
}

#containerBtn {
  display: flex;
  position: relative;
  margin-left: 45px;
  width: $width;
  z-index: 100;
}

/* CSS */
#addBtn,
#doneBtn,
#removebacknineBtn {
  top: 8px;
  height: 30px;
  width: auto;
  position: absolute;
  background-color: $green;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: scale(1.1) translateY(-2px);
  }
}

#addBtn {
  right: 15%;
}

#doneBtn {
  right: 0;
}

#removebacknineBtn {
  left: 0;
}

@media (max-width: 830px) {
  #container {
    width: 100%;
  }

  #editBtn {
    height: 25px;
    left: 90%;
    top: 38px;
  }

  .gridContainer {
    margin: 0px 0px;
  }

  #scorecardContainer {
    width: 100%;
  }
  
  #scrollContainer {
    height: auto;
    max-height: 500px;
    width: 100%;
  }

  #fullSizeContainer {
    width: 100%;
  }

  #containerBtn {
    margin-left: 0px;
    width: 100%;
  }

  #addBtn {
    font-size: 80%;
    height: 25px;
    margin-right: 40px;
    &:hover {
      transform: scale(1) translateY(0px);
    }
  }

  #doneBtn {
    font-size: 80%;
    font-weight: bold;
    height: 25px;
    right: 10px;
    &:hover {
      transform: scale(1) translateY(0px);
    }
  }

  #removebacknineBtn {
    font-size: 80%;
    left: 10px;
    font-weight: bold;
    height: 30px;
    &:hover {
      transform: scale(1) translateY(0px);
    }
  }

  h1 {
    font-size: 100%;
  }
}
