<div class="container">
  <div class="scorecardContainer">
    <h1>{{ title }}</h1>
    <div class="gridContainer">
      <ng-container #frontNine>
        <app-scorecard-header [isFrontNine]="true"></app-scorecard-header>
      </ng-container>
      <ng-container #backNine>
        <app-scorecard-header *ngIf="!removedBackNine" [isFrontNine]="false"></app-scorecard-header>
      </ng-container>
    </div>
  </div>
  <button *ngIf="!isLoading" id="addBtn" (click)="addNewTee()">Add Tee</button>
  <button *ngIf="!isLoading" id="doneBtn" (click)="finishEdit()">Done</button>
  <button *ngIf="!isLoading" id="removebacknineBtn" (click)="removebacknine()">{{ removedBackNine? 'Add Back Nine' : 'Remove Back Nine'}}</button>
</div>
