@import "../../utilities/variables.scss";

#courseMapContainer {
  position: relative;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.marker {
  color: white;
  background-color: black;
  border: solid 1px black;
  font-weight: 900;
  padding: 4px;
  top: -8px;
}

#infoDisplay {
  display: flex;
  flex-direction: column;
}

#teeColorsDisplay {
  position: absolute;
  display: flex;
  height: 30px;
  width: auto;
  left: 10px;
  top: 65px;
  font-size: larger;
  font-weight: bold;
  background-color: lightgray;
}

#otherInfoDisplay {
  position: absolute;
  display: flex;
  width: auto;
  left: 10px;
  top: 100px;
}

.parSIDisplay {
  display: flex;
  flex-direction: column;
  width: 50px;
  text-align: center;
  height: 40px;
}

.lineOne {
  position: relative;
  font-size: 11px;
  height: 5px;
}

.lineTwo {
  position: relative;
  margin-top: 0px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
}

#yards {
  text-align: center;
  line-height: 28px;
  width: 50px;
  cursor: pointer;
  transition: transform 0.1s;
  &:hover {
    transform: scale(1.1);
  }
}

#selectionboxContainer {
  display: flex;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 30px;
  width: fit-content;
}

.selectionbox {
  display: grid;
  grid-template-columns: repeat(18, 30px);
  height: 30px;
}

.selectionboxPhone {
  display: grid;
  grid-template-columns: repeat(9, 20px);
  grid-template-rows: 1fr 1fr;
}

.selectionboxPhone9 {
  display: grid;
  grid-template-columns: repeat(9, 20px);
  grid-template-rows: 1fr 1fr;
}

.selectionbox9 {
  display: grid;
  grid-template-columns: repeat(9, 30px);
  height: 30px;
}

#courseBtn {
  width: 70px;
}

#setBtnContainer {
  position: absolute;
  right: 270px;
  width: auto;
  top: 65px;
}

#setBtn {
  cursor: pointer;
  position: absolute;
  top: 65px;
  right: 80px;
  z-index: 1;
  height: 30px;
  background-color: lightgrey;
  border: 0px solid;
  border-radius: 2px;
  &:hover {
    background-color: $green;
  }
  &:active {
    background-color: green;
  }
}

#flagBtnContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 96%;
  width: 50%;
  top: 110px;
}

#addFlagBtn,
#removeFlagBtn {
  position: relative;
  z-index: 1;
  height: 30px;
  background-color: lightgrey;
  border: 0px solid;
  border-radius: 2px;
  width: 30px;
  &:hover {
    background-color: $green;
  }
  &:active {
    background-color: green;
  }
}

.mapselectionBtn {
  cursor: pointer;
  background-color: lightgray;
  border: none;
  border-right: 1px solid grey;
  &:hover {
    background-color: $green;
  }
}

.mapselectionBtnSelected {
  cursor: pointer;
  background-color: $green;
  border: none;
  border-right: 1px solid grey;
  font-size: larger;
  text-align: center;
}

/* The switch - the box around the slider */
#editMapBtn {
  position: absolute;
  left: 200px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 830px) {
  .mapselectionBtn {
    font-size: 10px;
    min-width: 5px;
    height: 20px;
    border-top: 1px solid grey;
    &:hover {
      background-color: lightgray;
    }
  }

  .mapselectionBtnSelected {
    font-size: 10px;
    min-width: 5px;
    height: 20px;
    border-top: 1px solid grey;
    font-size: 12px;
    background-color: $green;
  }

  #teeColorsDisplay {
    font-size: normal;
    height: 30px;
  }

  #otherInfoDisplay {
    font-size: normal;
  }

  #yards {
    width: 35px;
  }

  .parSIDisplay {
    width: 35px;
  }
}
