@import "../../utilities/variables.scss";

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.searchItemsContainer {
  top: -1px;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  background-color: $theme;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
}

.searchInput {
  margin-top: 15vh;
  text-indent: 25px;
  left: 0;
  right: 0;
  position: relative;
  z-index: 1;
  border-radius: 40px;
  border: 0px solid $theme;
  width: 100%;
  height: 25px;
  font-size: 1.1rem;
  padding: 12px 0px;
  background-color: $theme;
  color: white;
  background-image: url("../../../assets/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 97%;
  &:focus {
    outline: none;
    border-radius: 10px;
  }
}

#loadingContainer {
  position: relative;
  left: -10px;
  height: 50px;
  text-align: center;
  color: white;
}

.arrowDown {
  position: relative;
  top: -5px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(135deg);
}

#showMore {
  cursor: pointer;
  user-select: none;
  display: flex;
  height: 40px;
  color: white;
  border-radius: 0px 0px 10px 10px;
  &:hover {
    background-color: #3d3d3d;
  }
  span {
    font-size: 16px;
    margin-top: 8px;
  }
  i {
    margin-top: 13px;
    margin-left: 40px;
    margin-right: 15px;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
  margin-top: 10px;
}
.lds-ellipsis div {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(5) {
  left: 80px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media (max-width: 840px) {
  .searchContainer {
    width: 85%;
  }
}
