@import "../../utilities/variables.scss";

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.searchItemsContainer {
  top: -1px;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  background-color: $theme;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
}

.searchInput {
  margin-top: 15vh;
  text-indent: 25px;
  left: 0;
  right: 0;
  position: relative;
  z-index: 1;
  border-radius: 40px;
  border: 0px solid $theme;
  width: 100%;
  height: 25px;
  font-size: 1.1rem;
  padding: 12px 0px;
  background-color: $theme;
  color: white;
  background-image: url("../../../assets/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 97%;
  &:focus {
    outline: none;
    border-radius: 10px;
  }
}

#loadingContainer {
  position: relative;
  left: -10px;
  height: 50px;
  text-align: center;
  color: white;
}

.arrowDown {
  position: relative;
  top: -5px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(135deg);
}

#showMore {
  cursor: pointer;
  user-select: none;
  display: flex;
  height: 40px;
  color: white;
  border-radius: 0px 0px 10px 10px;
  &:hover {
    background-color: #3d3d3d;
  }
  span {
    font-size: 16px;
    margin-top: 8px;
  }
  i {
    margin-top: 13px;
    margin-left: 40px;
    margin-right: 15px;
  }
}

#cantFind {
  position: absolute;
  right: 40px;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 840px) {
  .searchContainer {
    width: 85%;
  }
}
