@import "../../utilities/variables.scss";

.container {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin-top: 5vh;
  width: 738px;
}

.scorecardContainer {
  width: 738px;
  height: auto;
  border: 1px solid;
  border-radius: 2px;
  background-color: grey;
}

.gridContainer {
  margin: 5px 6px;
}

h1 {
  margin: 5px 6px;
  text-align: center;
  border: 1px solid;
  border-radius: 2px 2px 0px 0px;
}

/* CSS */
#addBtn {
  top: 5px;
  left: 85%;
  position: relative;
  background-color: $green;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
}

@media (max-width: 830px) {
  .container {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin-top: 5vh;
    width: 100%;
  }  

  .gridContainer {
    margin: 0px 0px;
  }

  .scorecardContainer {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 2px;
    background-color: grey
  }  
  
  #addBtn {
    font-size: 70%;
    height: 25px;
    width: 60px;
    left: 73%;
  }

  h1 {
    font-size: 100%;
  }
}
