.container {
    margin: 5vh auto;
    width: 80vw;
    height: 50vh;
    border: 1px solid;
    border-radius: 2px;
    min-width: 700px;
}

.tableContainer {
    margin: 5px 6px;
}

h1 {
    margin: 5px 6px;
    text-align: center;
    border: 1px solid;
    border-radius: 2px 2px 0px 0px;
}

table {
    border-collapse: collapse;
}

th {
    width: 10vw;
    height: 3vh;
    border: 1px solid;
    border-color: black;
    background-color: rgb(1, 58, 1);
    color: white;
}

.Hole {
    input {
        width: 100px;
    }
}

td {
    width: 10vw;
    height: 3vh;
    border: 1px solid;
    border-color: black;
    background-color: rgb(1, 58, 1);
    color: white;
    text-align: center;
}

input {
    max-width: 100%;
}

tr {
    max-width: 10px;
}



