@import "../../utilities/variables.scss";

.headerContent {
  display: flex;
  justify-content: space-between;
  height: auto;
  top: 90px;
  color: white;
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: 90%;
  max-width: 1100px;
  z-index: 100000;
  #title {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    color: rgb(228, 228, 228);
  }
  #headerScoreinfo {
    display: flex;
    height: 80px;
    border-radius: 10px;
    top: -5px;
    position: relative;
    #total {
      color: black;
      border-radius: 10px 0px 0px 10px;
      border: none;
      width: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80px;
      background-color: $theme;
      color: white;
      h1 {
        font-weight: bold;
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 8px;
      }
      h2 {
        font-weight: 400;
        margin-top: 0px;
        font-size: 15px;
        color: white;
        line-height: 20px;
      }
    }
    #toPar {
      color: black;
      border-radius: 0px 10px 10px 0px;
      border: none;
      width: 80px;
      background-color: lightgrey;
      text-align: center;
      h1 {
        font-weight: bold;
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 8px;
      }
      h2 {
        font-weight: 400;
        margin-top: 0px;
        font-size: 15px;
        color: black;
        line-height: 20px;
      }
    }
  }
}

.left {
  width: 738px;
}

#roundPageContainer {
  top: 180px;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  height: 600px;
  width: 90%;
  display: flex;
  justify-content: center;
  #roundInfoContainer {
    border-radius: 5px;
    position: relative;
    top: 10px;
    // left: 50%;
    // transform: translateX(-50%);
    width: 100%;
    max-width: 738px;
    height: 150px;
    background-color: grey;
    .infoContainer {
      position: relative;
      top: 10px;
      h1 {
        font-size: 25px;
        margin-bottom: 0px;
      }
      h2 {
        font-size: 18px;
        color: rgb(63, 62, 62);
        font-weight: normal;
      }
    }
  }
  #statsInfoContainer {
    border-radius: 5px;
    width: 100%;
    max-width: 738px;
    height: auto !important;
    max-height: 300px;
    background-color: grey;
    margin-top: 20px;
    position: relative;
    .bottomBlock {
      justify-content: normal;
      h1 {
        margin-bottom: 0px;
        font-size: 16px;
      }
    }
  }
}

.topBlock {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 93%;
  height: 60px;
  border-bottom: 1px solid $theme;
  font-size: 24px;
  font-weight: bold;
  line-height: 70px;
  div {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    font-weight: normal;
  }
  a {
    position: relative;
    text-decoration: underline;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
  }
}
.bottomBlock {
  display: flex;
  position: relative;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  width: 93%;
  height: 100%;
}

app-active-scorecard {
  position: relative;
  top: 17px;
  left: 20px;
  z-index: 10;
  transform: scale(1.025);
}

#scoreLineChartContainer {
  width: 60%;
  #scoreLineChart {
    position: relative;
    width: 100%;
  }
}

#scoreDoughnutChartContainer {
  width: 50%;
  #scoreDoughnutChart {
    position: relative;
    top: -60px;
    margin: 0px;
    width: 311px !important;
  }
}

#startRoundPopUpContainer {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
  z-index: 1000000;
  position: absolute;
  top: 0px;
}

#startRoundPopUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  height: auto;
  width: 400px;
  background-color: lightgrey;
  border-radius: 16px;
  z-index: 10000001;
  opacity: 1;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  h1 {
    font-weight: bold;
  }
  #formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .displayInfo {
    margin-bottom: 10px;
    height: calc(40px - 1.6px);
    width: calc(100% - 1.6px);
    background-color: lightgrey;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    h6 {
      font-size: 15px;
      position: relative;
      top: 10px;
      left: 13px;
    }
  }
  label {
    position: relative;
    align-self: flex-start;
  }
  button {
    height: 40px;
    background-color: $green;
    border: none;
    border-radius: 5px;
    width: 100%;
    &:hover {
      background-color: rgb(0, 122, 0);
    }
  }
  select {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    font-size: 15px;
    background-color: lightgrey;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    option {
      zoom: 1.2;
    }
  }
  form {
    width: 100%;
  }
}
.close {
  background: lightgrey;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 18px;
  right: 10px;
  cursor: pointer;
  &::after {
    content: '';
    height: 25px;
    border-left: 2px solid black;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
  }
  &::before {
    content: '';
    height: 25px;
    border-left: 2px solid black;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
  }
}

@media (max-width: 1650px) {
  #statsInfoContainer {
    position: relative;
  }
  app-active-scorecard {
    position: relative;
    top: 170px;
    left: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    width: 738px;
    transform: scale(1);
  }
}

@media (max-width: 830px) {
  #roundPageContainer {
    #statsInfoContainer {
      max-height: 600px !important;
    }
  }

  app-active-scorecard {
    margin-left: 0;
    width: 100%;
    top: 140px;
  }

  .headerContent {
    top: 60px;
    #title {
      font-size: 30px;
      margin-bottom: 0px;
    }
    h2 {
      font-size: 18px;
    }
    #headerScoreinfo {
      flex-direction: column;
      #total {
        width: 80px;
        border-radius: 10px 10px 0px 0px;
        h1 {
          font-size: 30px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h2 {
          margin-top: 0px;
          font-size: 15px;
          margin-bottom: 5px;
        }
      }
      #toPar {
        border-radius: 0px 0px 10px 10px;
        width: 80px;
        h1 {
          font-size: 30px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h2 {
          margin-top: 0px;
          font-size: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }

  #roundPageContainer {
    width: 97%;
    height: auto;
    #roundInfoContainer {
      height: 120px;
      .infoContainer {
        position: relative;
        top: 10px;
        h1 {
          font-size: 20px;
        }
        h2 {
          line-height: 15px;
          font-size: 13px;
        }
      }
    }
  }
  .topBlock {
    height: 50px;
    font-size: 20px;
    line-height: 60px;
    div {
      font-size: 15px;
    }
    a {
      font-size: 15px;
    }
  }

  #statsInfoContainer {
    height: 450px !important;
    .bottomBlock {
      flex-wrap: wrap;
      h1 {
        margin-bottom: 0px;
        font-size: 16px;
      }
    }
  }

  #scoreLineChartContainer {
    align-self: center;
    width: 100%;
    #scoreLineChart {
      position: relative;
      width: 100%;
    }
  }

  #scoreDoughnutChartContainer {
    width: 100%;
    height: 200px;
    #scoreDoughnutChart {
      position: relative;
      top: -80px;
      margin: 0px;
      width: 311px !important;
    }
  }

  #startRoundPopUp {
    width: calc(100% - 100px);
    select {
      option {
        zoom: 1;
      }
    }
  }
}
