<app-header [height]="'180px'"></app-header>

<div class="headerContent">
  <div>
    <h1 id="title">{{ scoreData?.courseName }}</h1>
    <h2>{{ addressInfo }}</h2>
  </div>
  <div id="headerScoreinfo">
    <div id="total">
      <h1>{{ scoreData?.score.In + scoreData?.score.Out }}</h1>
      <h2>Total</h2>
    </div>
    <div id="toPar">
      <h1>{{ calculateShotsToPar() }}</h1>
      <h2>To Par</h2>
    </div>
  </div>
</div>

<div *ngIf="popUp" id="startRoundPopUpContainer"></div>
<div *ngIf="popUp" id="startRoundPopUp">
  <div class="close" (click)="popUp = false"></div>
  <h1>Edit Round</h1>
  <div id="formContainer">
    <label>Handicap Type</label>
    <select id="hdcpType" [(ngModel)]="hdcpType">
      <option value="none">None - No handicap will be used</option>
      <option value="basic">Basic - Standard handicap calculations</option>
    </select>
    <button id="submitInfo" (click)="submitEdit()">Submit</button>
  </div>
</div>

<div id="roundPageContainer">
  <div class="left">
    <div id="roundInfoContainer">
      <div class="topBlock">
        {{ scoreData?.username + "'s Round"
        }}<a *ngIf="editing" (click)="popUp = true">Edit Round</a>
      </div>
      <div class="bottomBlock">
        <div class="infoContainer">
          <h1>{{ date?.toLocaleDateString().toString() }}</h1>
          <h2>Date</h2>
        </div>
        <div class="infoContainer">
          <h1>{{ timeDifference }}</h1>
          <h2>Time</h2>
        </div>
        <div class="infoContainer">
          <h1>{{ scoreLn }}</h1>
          <h2>Holes</h2>
        </div>
        <div class="infoContainer">
          <h1>
            {{
              scoreData?.hdcpType.charAt(0).toUpperCase() +
                scoreData?.hdcpType.slice(1)
            }}
          </h1>
          <h2>Handicap</h2>
        </div>
      </div>
    </div>
    <div [ngStyle]="{ top: top }" id="statsInfoContainer">
      <div class="topBlock">Stats</div>
      <div class="bottomBlock">
        <div id="scoreLineChartContainer">
          <h1>Score To Par</h1>
          <canvas id="scoreLineChart"></canvas>
        </div>
        <div id="scoreDoughnutChartContainer">
          <h1>Scoring Summary</h1>
          <canvas id="scoreDoughnutChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <app-active-scorecard [selectedScore]="true"></app-active-scorecard>
</div>
