div {
  cursor: pointer;
}

input {
  top: 0;
  position: relative;
  margin-top: 5px;
  border-radius: 3px;border-radius: 3px;
  border: 1px solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  font-weight: 400;
}