<div *ngIf="!editing" class="container">
  <img
    id="editBtn"
    (click)="edit()"
    src="../../../assets/edit.png"
    alt=""
  />
  <div class="scorecardContainer">
    <h1>{{ title }}</h1>
    <div class="gridContainer">
      <ng-container #frontNine>
        <app-scorecard-header [isFrontNine]="true"></app-scorecard-header>
      </ng-container>
      <ng-container #backNine>
        <app-scorecard-header *ngIf="!removedBackNine" [isFrontNine]="false"></app-scorecard-header>
      </ng-container>
    </div>
  </div>
</div>

<edit-score-card
  *ngIf="editing"
  (edited)="editedScorecard.emit()"
  (onFinishEdit)="finishEdit()"
  (rBackNine)="rBackNine.emit()"
></edit-score-card>
