@import "../../utilities/variables.scss";

.container {
  position: relative;
  width: 738px;
}

.scorecardContainer {
  width: 738px;
  height: auto;
  border: 1px solid;
  border-radius: 2px;
  background-color: grey;
}

.gridContainer {
  margin: 5px 6px;
}

h1 {
  margin: 5px 6px;
  text-align: center;
  border: 1px solid;
  border-radius: 2px 2px 0px 0px;
}

#editBtn {
  left: 101%;
  height: 30px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transition: transform 150ms;
  &:hover {
    transform: scale(1.2) translateY(-3px);
  }
}

@media (max-width: 830px) {
  #editBtn {
    height: 25px;
    left: 90%;
    margin-top: 8px;
  }

  .container {
    width: 100vw;
  }  

  .gridContainer {
    margin: 0px 0px;
  }

  .scorecardContainer {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 2px;
    background-color: grey
  }  

  h1 {
    font-size: 100%;
  }
}
