@import "./utilities/variables.scss";

app-loading-animation {
  position: absolute;
  z-index: 10;
  transform: scale(3);
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  left: -35px;
  right: 0;
}

.scroll { overflow-y: hidden; }

#loadingContainer {
  height: 100%;
  width: 100%;
  z-index: 10000000000;
  background-color: black;
  opacity: 0.97;
  position: fixed;
}

@media (max-width: 830px) {
  app-loading-animation {
    transform: scale(2, 2);
    margin-top: 300px;
  }
}