@import "../../utilities/variables.scss";

.hoverDiv {
  cursor: pointer;
  transition: transform 150ms, box-shadow 150ms;
  border-radius: 5px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 12px 0;
    transform: translateY(-2px);
  }
}

.nohoverDiv {
  cursor: pointer;
  transition: transform 150ms, box-shadow 150ms;
  border-radius: 5px;
}

.aggregateSelect {
  width: 100%;
}

@media (hover: none) {
  .hoverDiv {
    border-radius: 0px;
    &:hover {
      box-shadow: none;
      transform: translateY(0px);
    }
  }
}