@import "../../utilities/variables.scss";

#container {
  position: relative;
  // top: -20px;
  height: 40px;
}

#border {
  text-align: center;
  height: 20px;
  width: 50%;
  position: absolute;
  width: 50%;
}

p {
  font-weight: 400;
}

.par {
  border: 0px solid black;
  top: 9px;
  p {
    line-height: 24px;
  }
}

.bogey {
  top: 10px;
  border: 1px solid black;
  p {
    line-height: 20px;
  }
}

.doublebogey {
  top: 8px;
  border-style: double;
  p {
    line-height: 20px;
  }
}

.birdie {
  top: 10px;
  border: 1px solid black;
  border-radius: 50%;
  p {
    line-height: 20px;
  }
}

.eagle {
  top: 8px;
  border-style: double;
  border-radius: 50%;
  p {
    line-height: 20px;
  }
}

.hoverDiv {
  cursor: pointer;
  transition: transform 150ms, box-shadow 150ms;
  border-radius: 5px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 12px 0;
    transform: translateY(-2px);
  }
  // z-index: 10;
}

.nohoverDiv {
  cursor: pointer;
  transition: transform 150ms, box-shadow 150ms;
  border-radius: 5px;
  // z-index: 10;
}

input {
  // top: 10px;
  position: relative;
  margin-top: 5px;
  border-radius: 3px;
  border-radius: 3px;
  border: 1px solid;
  width: 70%;
  height: 25px;
  font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 830px) {
  #container {
    position: relative;
    top: -22px;
    height: 20px;
  }

  input {
    top: 20px;
  }

  #border {
    height: 13px;
    width: 38%;
  }

  .par {
    top: 22px;
    p {
      line-height: 20px;
    }
  }
  .bogey {
    top: 25px;
    p {
      line-height: 13px;
    }
  }
  .doublebogey {
    top: 23px;
    p {
      line-height: 13px;
    }
  }
  .birdie {
    top: 25px;
    p {
      line-height: 13px;
    }
  }
  .eagle {
    top: 23px;
    p {
      line-height: 13px;
    }
  }

  input {
    height: 12px;
    &::placeholder {
      font-size: 0.5rem;
    }
    font-size: 0.8rem;
    width: 60%;
  }

  .hoverDiv {
    cursor: pointer;
    transition: transform 150ms, box-shadow 150ms;
    border-radius: 5px;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
      transform: translateY(0px);
    }
  }
}

