<div
  (click)="editing ? (showField = true) : (showField = false)"
  [ngClass]="showField || !editing ? 'nohoverDiv' : 'hoverDiv'"
>
  <input
    *ngIf="showField"
    (focusout)="submit()"
    (keyup.enter)="submit()"
    id="{{ id }}"
    type="text"
    [(ngModel)]="value"
    placeholder="{{ placeholder }}"
    type="number"
    min="1"
    oninput="validity.valid || (value='');"
    step="1"
  />
  <div *ngIf="!showField" [ngClass]="borderClass">
    <div [ngStyle]="{ width: borderWidth }" class="border"></div>
    <p
      *ngIf="!showField"
      [ngStyle]="isWhite ? { color: '#252525' } : { color: 'White' }"
    >
      {{ value }}
    </p>
  </div>
</div>
