<app-header [height]="'200px'"></app-header>

<div class="headerContent">
  <h1 *ngIf="selectedUser" id="title">{{ userData?.name }}'s Rounds</h1>
  <h1 *ngIf="!selectedUser" id="title">Rounds</h1>
  <h2 id="numberInfo">
    2023:
    <span [ngStyle]="{ 'font-weight': 500 }">{{ amountOfRoundsThisYear }}</span
    >, Total:
    <span [ngStyle]="{ 'font-weight': 500 }">{{ scores?.length }}</span>
  </h2>
</div>

<div id="roundsPageContainer">
  <div>
    <div id="roundsContainer">
      <div
        id="roundItemContainer"
        *ngFor="let score of scores; let index = index"
      >
        <div
          class="roundItem"
          id="roundItem{{ index }}"
          (swipeleft)="openDelete(index)"
          (swiperight)="closeDelete(index)"
          (panmove)="onPan($event, index)"
          (click)="showOverview(score)"
        >
          <div id="displayFlex">
            <div id="info">
              <h1>{{ score.name }}</h1>
              <h2>
                {{ score.formattedDate }} •
                {{
                  score.courseDetails.nineHoleGolfCourse
                    ? "9 Holes"
                    : "18 Holes"
                }}
                • {{ score.teeData.ColorName }}
              </h2>
            </div>
            <div *ngIf="score.statusComplete == 0" id="inProgressIndicator">
              <span>IN PROGRESS</span>
              <div class="dot"></div>
            </div>
          </div>
          <div class="total" id="total{{ index }}">
            <h1>{{ score.score.In + score.score.Out }}</h1>
            <h2>Total</h2>
          </div>
          <img
            (click)="deleteRound(score, $event)"
            src="../../../assets/delete35x35.png"
            alt=""
            class="deleteRoundImg"
            id="deleteRound{{ index }}"
          />
        </div>
        <div
          id="deleteContainer{{ index }}"
          class="deleteContainer"
          (click)="deleteRound(score, $event)"
        >
          <img src="../../../assets/delete35x35.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
