<app-header [height]="'170px'"></app-header>

<div class="headerContent">
  <h1 id="title">
    {{ selectedUser ? userName + "'s Rounds" : "Rounds" }}
  </h1>
  <h2 id="numberInfo">
    2023:
    <span [ngStyle]="{ 'font-weight': 500 }">{{ amountOfRoundsThisYear }}</span
    >, Total:
    <span [ngStyle]="{ 'font-weight': 500 }">{{ numberOfScores }}</span>
  </h2>
</div>

<div id="roundsPageContainer">
  <div id="roundsContainer" [@listAnimation]="scores.length">
    <div *ngIf="scores.length == 0" class="emptyRound">No Rounds Yet</div>
    <div
      id="roundItemContainer"
      *ngFor="let score of scores; let index = index"
    >
      <div
        class="roundItem"
        id="roundItem{{ index }}"
        (swipeleft)="openDelete(index)"
        (swiperight)="closeDelete(index)"
        (panmove)="onPan($event, index)"
        (click)="showOverview(score)"
      >
        <div class="displayFlex">
          <div class="info">
            <h1>{{ score.googleDetails.name }}</h1>
            <h2>
              {{ score.formattedDate }} •
              {{ score.holes + " Holes" }}
              • {{ score.teeData.ColorName }} •
              {{
                score?.hdcpType.charAt(0).toUpperCase() +
                  score?.hdcpType.slice(1)
              }}
            </h2>
          </div>
          <div *ngIf="score.statusComplete == 0" id="inProgressIndicator">
            <span>IN PROGRESS</span>
            <div class="dot"></div>
          </div>
        </div>
        <div
          [ngClass]="!selectedUser ? 'total' : 'nohover'"
          id="total{{ index }}"
        >
          <h1>{{ score.score.In + score.score.Out }}</h1>
          <h2>Total</h2>
        </div>
        <img
          *ngIf="!selectedUser"
          (click)="deleteRound(score, $event)"
          src="../../../assets/delete35x35.png"
          alt=""
          class="deleteRoundImg"
          id="deleteRound{{ index }}"
        />
      </div>
      <div
        *ngIf="!selectedUser"
        id="deleteContainer{{ index }}"
        class="deleteContainer"
        (click)="deleteRound(score, $event)"
      >
        <img src="../../../assets/delete35x35.png" alt="" />
      </div>
    </div>
  </div>
</div>
