@import "../../utilities/variables.scss";

#roundsPageContainer {
  height: 100%;
  top: 100px;
  color: white;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: 90%;
  max-width: 1300px;
}

h1 {
  margin-bottom: 0px;
}

#title {
  position: relative;
  font-weight: bold;
  font-size: 40px;
}

#numberInfo {
  font-weight: normal;
  font-size: 20px;
}

#roundsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#roundItemContainer {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  z-index: 1;
}

.roundItem {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  background-color: lightgrey;
  color: black;
  border-radius: 8px;
  right: 0px;
  top: 0px;
  z-index: 2;
  cursor: pointer;
  transition: top 1s, box-shadow 0.2s;
  #info {
    margin-left: 30px;
    margin-top: 15px;
  }
  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  h2 {
    margin-top: 5px;
    font-weight: normal;
    color: grey;
  }
  .deleteRoundImg {
    position: absolute;
    right: -32px;
    top: 30px;
    z-index: 2;
    transition: transform 0.2s, right 0.4s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .total {
    transition: margin-right 0.4s;
  }
  &:hover {
    top: -4px;
    box-shadow: 0px 0px 6px 1px $green;
    .total {
      margin-right: 60px;
    }
    .deleteRoundImg {
      right: 10px;
    }
  }
}
.deleteContainer {
  display: none;
  height: 100%;
  border-radius: 0px 8px 8px 0px;
  background-color: rgb(68, 0, 0);
  width: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  margin-top: 0px;
}
.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  height: 70px;
  width: 80px;
  border-radius: 10px;
  background-color: $theme;
  color: white;
  margin-top: 15px;
  h1 {
    font-size: 28px;
    margin-top: 10px;
  }
  h2 {
    margin-top: 0px;
    font-size: 12px;
    color: white;
    line-height: 20px;
  }
}

@media (hover: none) {
  .deleteContainer {
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
  }

  .deleteRoundImg {
    display: none;
  }
}

@media (max-width: 830px) {
  #title {
    position: relative;
    font-weight: bold;
    font-size: 35px;
  }

  #numberInfo {
    font-weight: normal;
    font-size: 20px;
  }

  .roundItem {
    flex-direction: column;
    height: auto;
    &:hover {
      top: 0px;
      box-shadow: none;
    }
    #info {
      margin-left: 10px;
    }
    h1 {
      font-size: 25px;
    }
    h2 {
      margin-bottom: 0px;
    }
  }
  .total {
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    width: calc(100% - 20px);
    margin-left: 10px;
    &:hover {
      box-shadow: none;
      top: 0px;
    }
    h2 {
      margin-top: 0px;
      font-size: 12px;
    }
  }
}
