@import "../../utilities/variables.scss";

.grid-container {
  display: grid;
  grid-template-columns: 120px repeat(9, 45px) 60px 70px 70px;
  grid-auto-rows: 40px;
  border-bottom: 0px solid;
}

.header {
  font-weight: bold;
}

.header, .header-holes {
  background-color: rgb(48, 48, 48);
}

div {
  font-size: 1.2rem;
  line-height: 40px;
  border-bottom: 1px solid rgb(88, 88, 88);
}