@import "../../utilities/variables.scss";

.grid-container {
  display: grid;
  grid-template-columns: 16.5% repeat(9, 6.2%) 8% 9.86% 9.86%;
  grid-auto-rows: 40px;
}

.header {
  font-weight: bold;
}

.header,
.header-holes {
  background-color: rgb(48, 48, 48);
}

div {
  font-size: 1.2rem;
  line-height: 40px;
  border: none;
  border-right: 1px solid rgb(48, 48, 48);
}

@media (max-width: 830px) {
  .grid-container {
    display: grid;
    grid-template-columns: 10% repeat(9, 6.7%) 10% 10% 10%;
    grid-auto-rows: 20px;
  }  
  div {
    font-size: 85%;
    line-height: 20px;
  }
}