@import "../../utilities/variables.scss";

.container {
  position: relative;
  width: 738px;
}

#loadingContainer {
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: black;
  opacity: 0.8;
  position: absolute;
}

app-loading-animation {
  position: absolute;
  left: 42%;
  transform: translate(-50%, 0);
  top: 40%;
  transform: scale(2);
}

#editBtn {
  left: 101%;
  height: 30px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transition: transform 150ms;
  &:hover {
    transform: scale(1.2) translateY(-3px);
  }
}

.scorecardContainer {
  width: 738px;
  height: auto;
  border: 1px solid;
  border-radius: 2px;
  background-color: grey;
  border-radius: 5px;
}

.gridContainer {
  margin: 5px 6px;
}

h1 {
  margin: 5px 6px;
  text-align: center;
  border: 1px solid;
  border-radius: 2px 2px 0px 0px;
}

#containerBtn {
  display: flex;
  position: relative;
  width: 100%;
}

/* CSS */
#doneBtn,
#removebacknineBtn,
#submitBtn,
#deleteScoreBtn {
  top: 8px;
  height: 30px;
  width: 100px;
  position: absolute;
  background-color: $green;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: scale(1.1) translateY(-2px);
  }
}

#deleteScoreBtn {
  width: 150px;
  background-color: red;
  border: 1px solid red;
}

#addBtn {
  right: 15%;
}

#doneBtn, #submitBtn {
  width: 130px;
  right: 0;
}

#removebacknineBtn {
  width: 170px;
  left: 0;
}

@media (max-width: 830px) {
  .container {
    top: 5%;
    left: 0;
    right: 0;
    width: 100%;
  }

  #editBtn {
    height: 25px;
    left: 90%;
    margin-top: 8px;
  }

  .gridContainer {
    margin: 0px 0px;
  }

  .scorecardContainer {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 2px;
    background-color: grey;
  }

  #doneBtn, #submitBtn {
    font-size: 80%;
    font-weight: bold;
    height: 25px;
    width: 100px;
    right: 10px;
    &:hover {
      transform: scale(1) translateY(0px);
    }
  }

  #removebacknineBtn, #deleteScoreBtn {
    width: 95px;
    font-size: 80%;
    left: 10px;
    font-weight: bold;
    height: 25px;
    &:hover {
      transform: scale(1) translateY(0px);
    }
  }

  #removebacknineBtn {
    height: 30px;
  }

  h1 {
    font-size: 100%;
  }
}
