@import "../../utilities/variables.scss";
@import url("https://fonts.googleapis.com/css?family=Mukta:700");

$itemHeight: 70px;

.itemContaier {
  display: flex;
  height: $itemHeight;
  position: relative;
  background-color: $theme;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 740px;
  &:hover {
    background-color: #3d3d3d;
  }
  cursor: pointer;
}

.itemContaier:has(#startBtnContainer:hover) {
  background-color: $theme;
}

img {
  width: 100px;
  margin-left: 20px;
  height: $itemHeight;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 30px;
}

strong {
  color: white;
  font-size: 1.5em;
}

a {
  margin-top: 8px;
  color: white;
}

// Button
$btnColor: black;
$black: $green;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.startRoundBtn {
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $btnColor;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $btnColor;
            border-right: 0.125rem solid $btnColor;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $btnColor;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $btnColor;
    }
  }
}

#startBtnContainer {
  right: 5px;
  position: absolute;
  grid-area: main;
  align-self: center;
  justify-self: center;
}

.startRoundBtn {
  width: 12rem;
}

@media (max-width: 885px) {
  $phoneHeight: 50px;
  .itemContaier {
    height: $phoneHeight;
  }
  strong {
    color: white;
    font-size: 1em;
  }
  a {
    margin-top: 3px;
    color: white;
  }
  img {
    margin-left: 10px;
    height: $phoneHeight;
  }
  .desc {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-left: 5px;
  }
  .button-text {
    display: none;
  }
  .circle {
    width: 1rem;
  }
  .startRoundBtn {
    width: 4rem;
  }
}
