@import "../../utilities/variables.scss";

.headerContent {
  height: auto;
  top: 75px;
  color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: 90%;
  max-width: 1100px;
  z-index: 100000;
  #title {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
  }
}

#queryContainer {
  position: relative;
  right: 0px;
  top: 10px;
  width: 155px;
  select {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 155px;
    font-size: 15px;
    background-color: lightgrey;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    option {
      zoom: 1;
    }
  }
}

#statsPageContainer {
  top: 145px;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  height: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  .left {
    width: 738px;
  }
  #roundInfoContainer {
    border-radius: 5px;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 738px;
    height: 150px;
    background-color: grey;
    .infoContainer {
      position: relative;
      top: 10px;
      h1 {
        font-size: 25px;
        margin-bottom: 0px;
      }
      h2 {
        font-size: 18px;
        color: rgb(63, 62, 62);
        font-weight: normal;
      }
      a {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  #handicapIndexContainer {
    border-radius: 5px;
    width: 100%;
    max-width: 738px;
    height: auto;
    background-color: grey;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0;
    right: 0;
    .bottomBlock {
      height: auto;
      justify-content: normal;
      h1 {
        margin-bottom: 0px;
        font-size: 16px;
      }
    }
  }
  #handicapHistoryChartContainer {
    position: relative;
    background-color: grey;
    border-radius: 5px;
    width: 100%;
    max-width: 738px;
    height: auto;
    margin-top: 10px;
  }
  #handicapHistoryChart {
    margin-bottom: 30px;
  }
  #statsContainer {
    width: 590px;
    height: auto;
    max-height: 487px;
    background-color: grey;
    border-radius: 5px;
    position: relative;
    top: 10px;
    margin-left: 10px;
    max-width: 738px;
    .bottomBlock {
      display: block;
      justify-content: center;
    }
  }
}

.topBlock {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 93%;
  height: 60px;
  border-bottom: 1px solid $theme;
  font-size: 24px;
  font-weight: bold;
  line-height: 70px;
}
.bottomBlock {
  display: flex;
  position: relative;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  width: 93%;
  height: auto;
}

#indexChart {
  width: 230px !important;
}

#indexChartContainer {
  width: 230px;
}

.insideDoughnut {
  width: 150px;
  height: 150px;
  background-color: grey;
  position: absolute;
  top: 61px;
  left: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.6);
  h2 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 60px;
    text-align: center;
  }
}

.chartContainer {
  position: relative;
  h3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -25px;
    font-size: 12px;
    color: rgb(26, 26, 26);
    text-align: center;
    width: auto;
  }
}

.insideDoughnut-small {
  width: 65px;
  height: 65px;
  background-color: grey;
  position: absolute;
  top: 13px;
  right: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.6);
  h2 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 17px;
    text-align: center;
  }
}


.roundsContainer {
  h1 {
    font-weight: bold;
  }
  a {
    color: $green;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.round {
  font-size: 13px;
  font-weight: 500;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

#barChartContainer {
  max-width: 520px !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  #chartLegend {
    display: flex;
    justify-content: space-between;
    width: 72%;
    position: relative;
    top: -10px;
    left: 17%;
    #label {
      text-align: center;
    }
    h2 {
      color: rgb(65, 65, 65);
      margin-bottom: 0px;
      font-size: 15px;
    }
    h1 {
      position: relative;
      top: -10px;
      font-weight: bold;
      font-size: 25px;
      // margin-bottom: 0px;
    }
  }
}

// #scoreByParChart {
//   width: 100% !important;
// }

#scoreSummaryContainer {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  position: relative;
  top: -20px;
  justify-content: center;
  .column {
    display: flex;
    flex-direction: column;
  }
  canvas {
    width: 90px !important;
  }
}

@media (max-width: 1640px) {
  #statsPageContainer {
    display: block;
    width: 738px;
    #statsContainer {
      margin-left: 0px;
      width: 738px;
    }
  }
}

@media (max-width: 830px) {
  app-active-scorecard {
    margin-left: 0;
    width: 100%;
  }

  #statsPageContainer {
    #statsContainer {
      max-height: 520px;
    }
  }

  .chartContainer {
    height: 120px !important;
  }

  #queryContainer {
    top: 30px;
    right: -20px;
    transform: scale(0.8);
    position: absolute;
    width: 155px;
    select {
      padding-left: 10px;
      margin-bottom: 10px;
      height: 40px;
      width: 155px;
      font-size: 15px;
      background-color: lightgrey;
      border: 1px solid grey;
      outline: none;
      border-radius: 5px;
      option {
        zoom: 0.8;
      }
    }
  }

  .headerContent {
    top: 60px;
    #title {
      font-size: 22px;
      margin-bottom: 0px;
    }
    h2 {
      font-size: 18px;
    }
    #headerScoreinfo {
      flex-direction: column;
      #total {
        width: 80px;
        border-radius: 10px 10px 0px 0px;
        h1 {
          font-size: 30px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h2 {
          margin-top: 0px;
          font-size: 15px;
          margin-bottom: 5px;
        }
      }
      #toPar {
        border-radius: 0px 0px 10px 10px;
        width: 80px;
        h1 {
          font-size: 30px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h2 {
          margin-top: 0px;
          font-size: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }

  #statsPageContainer {
    width: 97%;
    height: auto;
    .left {
      width: 100%;
    }  
    #roundInfoContainer {
      height: 120px;
      .infoContainer {
        position: relative;
        top: 10px;
        h1 {
          font-size: 20px;
        }
        h2 {
          line-height: 15px;
          font-size: 13px;
        }
      }
    }
    #handicapIndexContainer {
      top: 0px;
    }
    #handicapHistoryChartContainer {
      margin-left: auto;
      margin-right: auto;
    }
    #statsContainer {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
  .topBlock {
    height: 50px;
    font-size: 20px;
    line-height: 60px;
  }

  #handicapIndexContainer {
    .bottomBlock {
      flex-wrap: wrap;
      h1 {
        margin-bottom: 0px;
        font-size: 16px;
      }
    }
  }
}

.hdcpRoundsContainer {
  margin-bottom: 40px;
}

@media (max-width: 699px) {
  #indexChartContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .insideDoughnut {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

@media (max-width: 530px) {
  #statsPageContainer {
    #roundInfoContainer {
      .infoContainer {
        h2 {
          font-size: 2.5vw;
        }
      }
    }
  }
  .topBlock {
    font-size: 5vw;
  }
}

