@import "../../utilities/variables.scss";

.headerContent {
  display: flex;
  justify-content: space-between;
  height: auto;
  top: 150px;
  color: white;
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: 90%;
  max-width: 1100px;
  z-index: 100000;
  #title {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
  }
}

#statsPageContainer {
  top: 200px;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  height: 1000px;
  width: 90%;
  max-width: 1100px;
  #roundInfoContainer {
    border-radius: 5px;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 738px;
    height: 150px;
    background-color: grey;
    .infoContainer {
      position: relative;
      top: 10px;
      h1 {
        font-size: 25px;
        margin-bottom: 0px;
      }
      h2 {
        font-size: 18px;
        color: rgb(63, 62, 62);
        font-weight: normal;
      }
      a {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  #handicapIndexContainer {
    border-radius: 5px;
    width: 100%;
    max-width: 738px;
    min-height: 330px;
    height: auto;
    background-color: grey;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    .bottomBlock {
      justify-content: normal;
      h1 {
        margin-bottom: 0px;
        font-size: 16px;
      }
    }
  }
}

.topBlock {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 93%;
  height: 60px;
  border-bottom: 1px solid $theme;
  font-size: 24px;
  font-weight: bold;
  line-height: 70px;
}
.bottomBlock {
  display: flex;
  position: relative;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  width: 93%;
  height: 100%;
}

#indexChart {
  width: 230px !important;
}

.insideDoughnut {
  width: 150px;
  height: 150px;
  background-color: grey;
  position: absolute;
  top: 61px;
  left: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.6);
  h2 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 60px;
    text-align: center;
  }
}

.roundsContainer {
  h1 {
    font-weight: bold;
  }
  a {
    color: $green;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.round {
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 830px) {
  app-active-scorecard {
    margin-left: 0;
    width: 100%;
  }

  .headerContent {
    top: 60px;
    #title {
      font-size: 30px;
      margin-bottom: 0px;
    }
    h2 {
      font-size: 18px;
    }
    #headerScoreinfo {
      flex-direction: column;
      #total {
        width: 80px;
        border-radius: 10px 10px 0px 0px;
        h1 {
          font-size: 30px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h2 {
          margin-top: 0px;
          font-size: 15px;
          margin-bottom: 5px;
        }
      }
      #toPar {
        border-radius: 0px 0px 10px 10px;
        width: 80px;
        h1 {
          font-size: 30px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h2 {
          margin-top: 0px;
          font-size: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }

  #statsPageContainer {
    width: 97%;
    height: auto;
    #roundInfoContainer {
      height: 120px;
      .infoContainer {
        position: relative;
        top: 10px;
        h1 {
          font-size: 20px;
        }
        h2 {
          line-height: 15px;
          font-size: 13px;
        }
      }
    }
    #handicapIndexContainer {
      top: 375px;
    }
  }
  .topBlock {
    height: 50px;
    font-size: 20px;
    line-height: 60px;
  }

  #handicapIndexContainer {
    height: 450px !important;
    .bottomBlock {
      flex-wrap: wrap;
      h1 {
        margin-bottom: 0px;
        font-size: 16px;
      }
    }
  }
}

