<app-header [height]="'200px'"></app-header>

<div class="headerContent">
  <h1 id="title">
    {{ selectedUser ? userName + "'s Stats" : "Stats" }}
  </h1>
</div>

<div id="statsPageContainer">
  <div id="roundInfoContainer">
    <div class="topBlock">Career</div>
    <div class="bottomBlock">
      <div class="infoContainer">
        <h1>{{ timePlayed }}</h1>
        <h2>Time Played</h2>
      </div>
      <div class="infoContainer">
        <h1>
          <a (click)="navigateToRound(lowestScore)">{{
            calculateShotsToPar(lowestScore)
          }}</a>
        </h1>
        <h2>Lowest Score</h2>
      </div>
      <div class="infoContainer">
        <h1>
          <a (click)="navigateToRound(highestScore)">{{
            calculateShotsToPar(highestScore)
          }}</a>
        </h1>
        <h2>Highest Score</h2>
      </div>
      <div class="infoContainer">
        <h1>
          {{ scoreAvg }}
        </h1>
        <h2>Average Score</h2>
      </div>
    </div>
  </div>
  <div id="handicapIndexContainer">
    <div class="topBlock">Handicap Index</div>
    <div class="bottomBlock">
      <div id="indexChartContainer">
        <h1>Index</h1>
        <canvas id="indexChart" width="400" height="400"></canvas>
        <div class="insideDoughnut">
          <h2>{{ userData?.hdcp }}</h2>
        </div>
      </div>
      <div>
        <h1>Scores Used to Calculate Index</h1>
        <div id="recent" class="roundsContainer">
          <div class="round" *ngFor="let score of scores">
            <a (click)="navigateToRound(score)">{{ numberOfHolesPlayed(score) }} holes,
              {{ score.score.In + score.score.Out }} stroke round</a
            > {{ convertDateTime(score) }} ago at {{ score.courseName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
