<app-header [height]="'145px'"></app-header>

<div class="headerContent">
  <h1 id="title">
    {{ selectedUser ? userName + "'s Stats" : "Stats" }}
  </h1>
  <div id="queryContainer">
    <select id="hdcpType" [(ngModel)]="limit" (ngModelChange)="newQuery()">
      <option value="5">Last 5 Rounds</option>
      <option value="20">Last 20 Rounds</option>
      <option value="40">Last 40 Rounds</option>
      <option value="all">All Time Rounds</option>
      <option value="thisYear">Year To Date</option>
    </select>
  </div>
</div>

<div id="statsPageContainer">
  <div class="left">
    <div id="roundInfoContainer">
      <div class="topBlock">Career</div>
      <div class="bottomBlock">
        <div class="infoContainer">
          <h1>{{ timePlayed }}</h1>
          <h2>Time Played</h2>
        </div>
        <div class="infoContainer">
          <h1>
            <a (click)="navigateToRound(lowestScore)">{{
              calculateShotsToPar(lowestScore)
            }}</a>
          </h1>
          <h2>Lowest Score</h2>
        </div>
        <div class="infoContainer">
          <h1>
            <a (click)="navigateToRound(highestScore)">{{
              calculateShotsToPar(highestScore)
            }}</a>
          </h1>
          <h2>Highest Score</h2>
        </div>
        <div class="infoContainer">
          <h1>
            {{ scoreAvg }}
          </h1>
          <h2>Average Score</h2>
        </div>
      </div>
    </div>
    <div id="handicapIndexContainer">
      <div class="topBlock">Handicap Index</div>
      <div class="bottomBlock">
        <div id="indexChartContainer">
          <h1>Index</h1>
          <canvas id="indexChart" width="400" height="400"></canvas>
          <div class="insideDoughnut">
            <h2>{{ hdcp }}</h2>
          </div>
        </div>
        <div>
          <h1>Rounds Used to Calculate Index</h1>
          <div id="recent" class="roundsContainer">
            <div class="round" *ngFor="let score of usedForHdcpScores">
              <a (click)="navigateToRound(score)"
                >{{ numberOfHolesPlayed(score) }} hole,
                {{ score.score.In + score.score.Out }} stroke round</a
              >
              {{ convertDateTime(score) }} ago at {{ score.courseName }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="statsContainer">
    <div class="topBlock">Score By Par</div>
    <div class="bottomBlock">
      <div class="center">
        <div id="barChartContainer">
          <canvas id="scoreByParChart"></canvas>
          <div id="chartLegend">
            <div *ngFor="let par of avgScoreToParData" id="label">
              <h2>Par {{ par.label }}s</h2>
              <h1>{{ par.value }}</h1>
            </div>
          </div>
        </div>
      </div>
      <div id="scoreSummaryContainer">
        <div class="chartContainer">
          <h3>Eagles or Better</h3>
          <div class="insideDoughnut-small">
            <h2>{{ avgTypesOfScores["Eagles or Better"] }}</h2>
          </div>
          <canvas id="doughnutChartEagles"></canvas>
        </div>
        <div class="chartContainer">
          <h3>Birdies</h3>
          <div class="insideDoughnut-small">
            <h2>{{ avgTypesOfScores.Birdies }}</h2>
          </div>
          <canvas id="doughnutChartBirdies"></canvas>
        </div>
        <div class="chartContainer">
          <h3>Pars</h3>
          <div class="insideDoughnut-small">
            <h2>{{ avgTypesOfScores.Pars }}</h2>
          </div>
          <canvas id="doughnutChartPar"></canvas>
        </div>

        <div class="chartContainer">
          <h3>Bogeys</h3>
          <div class="insideDoughnut-small">
            <h2>{{ avgTypesOfScores.Bogeys }}</h2>
          </div>
          <canvas id="doughnutChartBogeys"></canvas>
        </div>
        <div class="chartContainer">
          <h3>Double Bogeys</h3>
          <div class="insideDoughnut-small">
            <h2>{{ avgTypesOfScores["Double Bogeys"] }}</h2>
          </div>
          <canvas id="doughnutChartDoubleBogeys"></canvas>
        </div>
        <div class="chartContainer">
          <h3>Triples or Worse</h3>
          <div class="insideDoughnut-small">
            <h2>{{ avgTypesOfScores["Triples or Worse"] }}</h2>
          </div>
          <canvas id="doughnutChartTripleBogeys"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
