<app-header [height]="'200px'"></app-header>

<div class="headerContent">
  <h1 id="title">
    {{ selectedUser ? userName + "'s Stats" : "Stats" }}
  </h1>
</div>

<div id="statsPageContainer">
  <div id="roundInfoContainer">
    <div class="topBlock">Career</div>
    <div class="bottomBlock">
      <div class="infoContainer">
        <h1>{{ timePlayed }}</h1>
        <h2>Time Played</h2>
      </div>
      <div class="infoContainer">
        <h1>
          <a (click)="navigateToRound(lowestScore)">{{
            calculateShotsToPar(lowestScore)
          }}</a>
        </h1>
        <h2>Lowest Score</h2>
      </div>
      <div class="infoContainer">
        <h1>
          <a (click)="navigateToRound(highestScore)">{{
            calculateShotsToPar(highestScore)
          }}</a>
        </h1>
        <h2>Highest Score</h2>
      </div>
      <div class="infoContainer">
        <h1>
          {{ scoreAvg }}
        </h1>
        <h2>Average Score</h2>
      </div>
    </div>
  </div>
  <div id="statsInfoContainer">
    <div class="topBlock">Stats</div>
    <div class="bottomBlock">
      <div id="scoreLineChartContainer">
        <h1>Score To Par</h1>
        <canvas id="scoreLineChart"></canvas>
      </div>
      <div id="scoreDoughnutChartContainer">
        <h1>Scoring Summary</h1>
        <canvas id="scoreDoughnutChart"></canvas>
      </div>
    </div>
  </div>
</div>
