<div class="container">
  <img
    src="../../../assets/Golf-ball-isolated-on-transparent-background-PNG.png"
    alt=""
    class="logo"
    routerLink="/"
  />

  <form class="login" (ngSubmit)="onSubmit()">
    <div class="input-contain">
      <input
        id="passwordResetPassword"
        name="email"
        [(ngModel)]="password"
        type="password"
        value=""
      />
      <label class="placeholder-text">
        <div class="text">Password</div>
      </label>
      <div class="errorContainer">
        <img
          *ngIf="error == 'password'"
          class="errorImg"
          src="../../../assets/error.png"
          alt=""
        />
        <label id="passwordResetPasswordError" class="error"></label>
      </div>
      <img *ngIf="!eyeSrc" src="../../../assets/eye-closed.png" class="eyeIcon" (click)="switchEye()" alt="">
      <img *ngIf="eyeSrc" src="../../../assets/eye-open.png" class="eyeIcon" (click)="switchEye()" alt="">
    </div>

    <div class="input-contain">
      <input
        id="confirmResetPassword"
        name="email"
        [(ngModel)]="confirmPass"
        type="password"
        value=""
      />
      <label class="placeholder-text">
        <div class="text">Confirm Password</div>
      </label>
      <div class="errorContainer">
        <img
          *ngIf="error == 'confirmPass'"
          class="errorImg"
          src="../../../assets/error.png"
          alt=""
        />
        <label id="confirmResetPasswordError" class="error"></label>
      </div>
    </div>

    <div class="btn-contain">
      <button id="buttonResetPassword" type="submit" (click)="onClick()"></button>
    </div>
  </form>
</div>
